VITE_FIREBASE_API_KEY=AIzaSyAaHODLMy8QFWa0WB9HTGNIuc-pi7wSMN8
VITE_FIREBASE_AUTH_DOMAIN=qcreportsystem.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=qcreportsystem
VITE_FIREBASE_STORAGE_BUCKET=qcreportsystem.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=860940338162
VITE_FIREBASE_APP_ID=1:860940338162:web:15ea952356fa493b57a16b