
@import "tailwindcss";
@plugin "daisyui";

/* * {
  font-family: "Datatype", monospace;
  font-style: normal;
} */

#data {
  font-family: "IBM Plex Mono", monospace;
  font-style: normal;
  font-size: 40px;
}
